# file and folder
.idea/
*/.idea/
*.zip
*.iml
*/.iml

*.project
*.classpath
*.class
*.settings/
*/target/
target/

ezyfox-chat-client/.idea/
ezyfox-chat-client/output/

pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

freechat-startup/deploy/lib
