.dropdown-toggle::after {
    display:none;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

@media (min-width: 1200px) {
    .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }
}