.login-div-wrap {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-div {
    width: 90%;
}

.login-title {
    text-align: center;
}
.login-title .text-light {
    font-size: 24px;
    margin-bottom: 25px;
    font-weight: 700;
}

.text-small {
    font-size: 14px;
    color: white;
    margin-bottom: 24px
}

.login-options .checkbox label {
    color: white;
}

.text-small {
    font-size: 14px;
    color: white;
    margin-bottom: 24px;
    text-align: center;
}

@media (min-width: 768px) {
    .login-div {
        width: 400px;
    }
}
