.navbar {
    padding: 0;
}

.messages-wrapper {
    height: 100vh;
    overflow: hidden;
}
.messages-wrapper .main-container {
    height: calc(100vh - 100px);
}

.mc-wrapper {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}
.mc-wrapper .mc-sidepanel {
    flex: 0 0 30%;
    max-width: 30%;
    height: 100%;
}
.mc-wrapper .mc-sidepanel .mc-sidepanel-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.mc-wrapper .mc-sidepanel .mc-sidepanel-content #contacts {
    height: auto;
    flex-grow: 1;
}
.mc-wrapper .mc-sidepanel .mc-sidepanel-content #contacts::-webkit-scrollbar-thumb {
    background-color: #dde3e3;
}
.mc-wrapper .content-wrapper {
    flex: 0 0 70%;
    max-width: 70%;
}
.mc-wrapper.toggle .mc-sidepanel {
    flex: 0 0 100px;
    max-width: 100px;
}
.mc-wrapper.toggle .content-wrapper {
    flex: 0 0 calc(100% - 100px);
    max-width: calc(100% - 100px);
}

.left-branding {
    display: flex;
    align-items: center;
}
.left-branding button {
    background: transparent;
    border: 0;
    cursor: pointer;
    outline: none;
    font-size: 20px;
    line-height: 1;
    position: relative;
    top: 2px;
    margin-right: 5px;
}
.left-branding button i {
    color: #1C2B36;
}
@media (min-width: 992px) {
    .left-branding button {
        display: none;
    }
}