.add-contacts-modal {
    .btn-close {
        margin: 0;
        font-size: 24px;
    }

    .contact-search {
        padding-top: 20px;
    }

    .suggested-contacts {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 1rem;

        .items {
            display: flex;
            flex-flow: column;
            gap: 15px;

            .suggested-contact {
                display: flex;
                align-items: center;
                justify-content: space-between;
                
                .avatar {
                    width: 32px;
                }

                .left-side {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    .info {
                        display: flex;
                        flex-flow: column;
                    }
                }
            }
        }
    }
}